.input-base {
    height: 50px;
    border-radius: 10px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.password-image {
    position: absolute;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
}
