.auth-card {
    width: 550px;
    height: 780px;
    margin: 40px 40px 135px 130px;
    padding: 95px 50px 180px 50px; 
    border-radius: 20px;
}

.auth-card-title {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 85px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}