.comment-container {
    padding: 15px 20px 0px 15px;
}

.comment-header {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.comment-icon-container {
    padding-left: 15px;
    padding-right: 15px;
}

.comment-author-name {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.comment-content-container {
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    padding: 15px 15px 0px 15px;
    margin-bottom: 15px;
}

.comment-content {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}