.movie-card-container {
    width: 270px; 
}

.movie-card-content {
    padding: 25px 0;
    border-radius: 10px;
    height: 335px;
}

.movie-card-details {
    padding: 15px 15px 0px 15px;
}

.movie-card-title {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.movie-card-release {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.movie-card-description {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}